# Inserting a "CSV" file data into MongoDB database with pymongo

In [1]:
#import pymongo module to connect and interact with MongoDB 
#replaced password with *******
import pymongo
link=pymongo.MongoClient("mongodb://sakthivel:*******@ac-ppyctse-shard-00-00.tmwrsy2.mongodb.net:27017,ac-ppyctse-shard-00-01.tmwrsy2.mongodb.net:27017,ac-ppyctse-shard-00-02.tmwrsy2.mongodb.net:27017/?ssl=true&replicaSet=atlas-4x48lc-shard-0&authSource=admin&retryWrites=true&w=majority")

In [6]:
#import pandas module to read csv file into dataframe format
from pandas import *
df=read_csv("C:/Users/shakt/Downloads/Restaurant.csv")
df

,_id,address,borough,cuisine,grades,name,restaurant_id
0,63ce66607db9750b15fcc568,"{'building': '351', 'coord': [-73.985135599999...",Manhattan,Irish,"[{'date': {'$date': 1409961600000}, 'grade': '...",Dj Reynolds Pub And Restaurant,30191841
1,63ce66607db9750b15fcc566,"{'building': '1007', 'coord': [-73.856077, 40....",Bronx,Bakery,"[{'date': {'$date': 1393804800000}, 'grade': '...",Morris Park Bake Shop,30075445
2,63ce66607db9750b15fcc56c,"{'building': '2206', 'coord': [-74.1377286, 40...",Staten Island,Jewish/Kosher,"[{'date': {'$date': 1412553600000}, 'grade': '...",Kosher Island,40356442
3,63ce66607db9750b15fcc56f,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': {'$date': 1405296000000}, 'grade': '...",Taste The Tropics Ice Cream,40356731
4,63ce66607db9750b15fcc56e,"{'building': '6409', 'coord': [-74.00528899999...",Brooklyn,American,"[{'date': {'$date': 1405641600000}, 'grade': '...",Regina Caterers,40356649
...,...,...,...,...,...,...,...
3767,63ce66607db9750b15fcd3f5,"{'building': '495', 'coord': [-73.9781038, 40....",Manhattan,Greek,"[{'date': {'$date': 1420588800000}, 'grade': '...",Ethos Greek Cuisine,40889792
3768,63ce66607db9750b15fcd3f7,"{'building': '1155', 'coord': [-92.71992259999...",Manhattan,American,"[{'date': {'$date': 1395360000000}, 'grade': '...",White & Case,40889924
3769,63ce66607db9750b15fcd400,"{'building': '126-20', 'coord': [-73.810936, 4...",Queens,American,"[{'date': {'$date': 1413504000000}, 'grade': '...",A & B Deli & Catering,40891881
3770,63ce66607db9750b15fcd408,"{'building': '717', 'coord': [-73.9650518, 40....",Brooklyn,American,"[{'date': {'$date': 1414540800000}, 'grade': '...",Mirage Diner Restauraunt,40892893
3771,63ce66607db9750b15fcd40d,"{'building': '62', 'coord': [-73.9796956, 40.7...",Manhattan,American,"[{'date': {'$date': 1401408000000}, 'grade': '...",Nublu,40894333

In [7]:
#converting datafram into dictionary format
df_dict=df.to_dict('records')

In [12]:
#Creating a new database
DB=link['Test']

In [13]:
#creating a new collection inside the database
DB_coll=DB['Rest_collection']

In [14]:
#inserting the data(dictionary format) into the Mongodb database collection
DB_coll.insert_many(df_dict)